{% extends 'layout/manage.html' %}
{% load static %}
{% block css %}
    <style>
        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .panel-default > .panel-heading a {
            text-decoration: none;
        }

        .panel-default > .panel-heading span {
            padding: 0 5px;
        }

        .panel-default > .panel-heading .function .upload {
            overflow: hidden;
        }

        .panel-default > .panel-heading .function .upload input {
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 76px;
            left: -2px;
            overflow: hidden;
        }

        .upload-progress {
            position: fixed;
            right: 2px;
            bottom: 4px;
            width: 400px;
            display: none;
        }

        .close-btn {
            position: fixed;
            right: 15px;
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div>
                    <a href="{% url 'file' project_id=request.bug_mgt.project.id %}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>文件库</span>
                    </a>
                    {% for item in breadcrumb_list %}
                        <a href="{% url 'file' project_id=request.bug_mgt.project.id %}?folder_id={{ item.id }}">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <span>{{ item.name }}</span>
                        </a>
                    {% endfor %}
                </div>
                <div class="function">
                    <div class="btn btn-success btn-xs upload" style="position: relative">
                        <div><i class="fa fa-upload" aria-hidden="true"></i> 上传文件</div>
                        <!-- 对于input框 type=”file“的样式是无法修改的，所以对他进行样式修改，一般使用样式opacity=0;使他透明度为0-->
                        <input type="file" multiple name="uploadFile" id="uploadFile">
                    </div>
                    <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#addModal" data-whatever="新建文件夹">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建文件夹
                    </a>
                </div>
            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>文件大小</th>
                    <th>更新者</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="rowList">
                {% for item in file_object_list %}
                    <tr>
                        <td scope="row">
                            <a href="{% url 'file' project_id=request.bug_mgt.project.id %}?folder_id={{ item.id }}">
                                {% if item.file_type == 1 %}
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-folder" aria-hidden="true"></i>
                                {% endif %}
                                {{ item.file_name }}
                            </a>
                        </td>
                        <td>
                            {% if item.file_type == 1 %}
                                {{ item.size }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ item.update_user.username }}</td>
                        <td>{{ item.update_time }}</td>
                        <td>
                            {% if item.file_type == 2 %}
                                <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#addModal"
                                   data-whatever="编辑文件夹" data-name="{{ item.file_name }}" data-fid="{{ item.id }}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" title="编辑"></i>
                                </a>
                            {% else %}
                                <a class="btn btn-default btn-xs"
                                   href="{% url 'file_download' project_id=request.bug_mgt.project.id file_id=item.id %}">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                            <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#alertModal"
                               data-fid="{{ item.id }}">
                                <i class="fa fa-trash" aria-hidden="true" title="删除"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal1 -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        {% csrf_token %}
                        <input class="hide" type="text" name="fid" id="fid">
                        {% for field in form %}
                            <div class="form-group">
                                <label for={{ field.id_for_label }}>{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg">{{ field.errors.0 }}</span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button id="btnFormSubmit" type="button" class="btn btn-primary">确 定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal2 -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4>是否确定删除？ </h4>
                <p style="padding-top: 20px;">文件夹中包含的文件夹和文件都将被删除。</p>
                <p style="text-align: right">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取 消</button>
                    <button id="btnDelete" type="button" class="btn btn-primary">确 定</button>
                </p>
            </div>
        </div>
    </div>
    <!-- 上传文件进度条面板提示-->
    <div id="uploadProgress" class="upload-progress">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="fa fa-cloud-upload" aria-hidden="true"></i>上传进度
                <button type="button" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div></div>

            <!-- Table -->
            <table class="table">
                <tbody id="progressList">

                </tbody>
            </table>
        </div>
    </div>
    <div class="hide">
        <table id="progressTemplate">
            <tr>
                <td>
                    <div class="name">name</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" style="width: 0%;">
                            0%
                        </div>
                    </div>
                    <div class="progress-error"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="hide">
        <table id="rowTpl" class="table">
            <tr>
                <td scope="row">
                    <a>
                        <i class="fa fa-file" aria-hidden="true"></i><span class="name"></span>
                    </a>
                </td>
                <td class="file-size"></td>
                <td class="update-user"></td>
                <td class="update-datetime"></td>
                <td>
                    <a class="btn btn-default btn-xs download">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-danger btn-xs delete" data-toggle="modal" data-target="#alertModal"
                       data-fid="{{ item.id }}">
                        <i class="fa fa-trash" aria-hidden="true" title="删除"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/cos-js-sdk-v5/cos-js-sdk-v5.min.js' %}"></script>
    <script>
        var FILE_DELETE_URL = "{% url 'file_delete' project_id=request.bug_mgt.project.id %}"
        // 定义获取凭证请求的路由
        var COS_CREDENTIAL = "{% url 'cos_credential' project_id=request.bug_mgt.project.id %}"
        // 定义上传文件的路由
        var FILE_POST = "{% url 'file_post' project_id=request.bug_mgt.project.id %}"
        // 当前文件夹对象
        var CURRENT_FOLDER_ID = "{{ folder_object.id }}"
        $(function () {
            initModelTitle();
            bindModelSubmit();
            bindModelDelete();
            bindUploadFile();
            bindCloseBtn();
        })

        function initModelTitle() {
            $('#addModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                var name = button.data('name')
                var fid = button.data('fid')
                var modal = $(this)
                modal.find('.modal-title').text(recipient)
                // 如果有fid参数，则这个弹窗是编辑弹窗，若没有则是新建文件夹弹窗
                if (fid) {
                    // 编辑
                    modal.find('.error-msg').empty()
                    modal.find('#id_file_name').val(name)
                    // 再在form表单中添加一个input框，设置他的name="fid" id="fid"，再将获取到的fid的值赋值给刚刚添加的input框中
                    // 之所以要添加一个隐藏的input框，就是为了编辑文件夹后，向后台发送post请求，携带当前编辑的文件夹的name和id给后台，
                    // 而这个文件夹的id正好存在刚刚那个隐藏的input框内，后台只要request.GET.get('fid', "")一下就可以获取了
                    modal.find('#fid').val(fid)
                } else {
                    // 新建
                    modal.find('.error-msg').empty()
                    $("#form")[0].reset()  // 清空form表单中所有输入部分的内容
                }

            });
            $('#alertModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var fid = button.data('fid')
                var modal = $(this)
                // 为解决点击删除按钮，将当前的文件夹或文件id传给后台，则当点击删除按钮，弹出模态框后，给模态框中id=btnDelete的确定按钮
                // 绑定一个fid属性，值为文件夹或文件id
                $('#btnDelete').attr('fid', fid)
            })
        }

        function bindModelSubmit() {
            $("#btnFormSubmit").click(function () {
                $.ajax({
                    url: location.href,  // 当向后台发送带有？folder_id=XXX时，就把当前的浏览器地址发送给后台
                    type: "POST",
                    data: $("#form").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            location.href = location.href;
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        function bindModelDelete() {
            $("#btnDelete").click(function () {
                $.ajax({
                    url: FILE_DELETE_URL,
                    type: "GET",
                    data: {'fid': $(this).attr('fid')},
                    success: function (res) {
                        if (res.status) {
                            location.href = location.href;
                        }
                    }
                })
            })
        }

        function bindUploadFile() {
            $("#uploadFile").change(function () {
                $('#progressList').empty()
                // $(this)获取当前input框对象，$(this)[0]将input对象转化为dom对象，$(this)[0].files获取dom中的文件集合
                var fileList = $(this)[0].files;
                // 获取本次要上传的文件的名称和大小
                var checkFileList = [];
                // 循环文件集合
                $.each(fileList, function (index, fileObject) {
                    checkFileList.push({'name': fileObject.name, 'size': fileObject.size})
                });
                // 把这些数据发送到后台，后台进行容量校验，如果有问题则返回对应的错误，没问题则返回临时密钥
                // 初始化实例
                /*
                * 发送post请求，对于要向后台发送比较复杂的数据例如{‘name’: 'aaa', 'list':[{'name': xxx, 'size': 1}]}
                * 则需要对发送的数据进行json格式化一下，即JSON.stringfy({‘name’: 'aaa', 'list':[{'name': xxx, 'size': 1}]})
                * */
                var cos_object = new COS({
                    getAuthorization: function (options, callback) {
                        // 异步获取临时密钥
                        $.post(COS_CREDENTIAL, JSON.stringify(checkFileList), function (res) {
                            if (res.status) {
                                var credentials = res.data && res.data.credentials;
                                callback({
                                    TmpSecretId: credentials.tmpSecretId,
                                    TmpSecretKey: credentials.tmpSecretKey,
                                    XCosSecurityToken: credentials.sessionToken,
                                    // 建议返回服务器时间作为签名的开始时间，避免用户浏览器本地时间偏差过大导致签名错误
                                    StartTime: res.data.startTime, // 时间戳，单位秒，如：1580000000
                                    ExpiredTime: res.data.expiredTime, // 时间戳，单位秒，如：1580000900
                                });
                                $(".upload-progress").css("display", 'initial')
                                console.log(111)
                            } else {
                                alert(res.error)
                            }

                        });
                    }
                });
                // 上传文件到cos(异步)
                $.each(fileList, function (index, fileObject) {
                    let fileName = fileObject.name
                    let fileSize = fileObject.size
                    // 为防止同名文件上传到cos中覆盖掉以前文件，设置key(使用时间戳)
                    let key = new Date().getTime() + '_' + fileName
                    // 当需要批量上传文件，进度条需要显示多个，则我们clone多个进度条进行展示
                    let tr = $('#progressTemplate').find('tr').clone();
                    // 对当前上传文件的进度条显示文件名字
                    tr.find('.name').text(fileName);
                    // 将当前的进度条加到显示的面板中
                    $('#progressList').append(tr);
                    cos_object.putObject({
                        Bucket: '{{request.bug_mgt.project.bucket}}', /* 必须 */
                        Region: '{{request.bug_mgt.project.region}}',     /* 存储桶所在地域，必须字段 */
                        Key: key,              /* 必须 */
                        StorageClass: 'STANDARD',
                        Body: fileObject, // 上传文件对象
                        onProgress: function (progressData) {
                            console.log("文件上传进度", fileName, JSON.stringify(progressData));
                            var percent = progressData.percent * 100 + '%'
                            tr.find('.progress-bar').text(percent)
                            tr.find('.progress-bar').css('width', percent)
                        }
                    }, function (err, data) {
                        console.log(err || data);
                        if (data && data.statusCode === 200) {
                            // 上传成功,将文件信息写入数据库
                            $.ajax({
                                url: FILE_POST,
                                type: "POST",
                                data: {
                                    file_name: fileName,
                                    key: key,
                                    size: fileSize,
                                    parent: CURRENT_FOLDER_ID,
                                    etag: data.ETag,
                                    file_path: data.Location
                                },
                                dataType: "JSON",
                                success: function (res) {
                                    // 成功
                                    var newTr = $("#rowTpl").find('tr').clone();
                                    newTr.find('.name').text(res.data.name)
                                    newTr.find('.file-size').text(res.data.file_size)
                                    newTr.find('.update-user').text(res.data.update_user)
                                    newTr.find('.update-datetime').text(res.data.datetime)
                                    newTr.find('.delete').attr('data-fid', res.data.id)
                                    newTr.find('.download').attr('href', res.data.download_url)
                                    $("#rowList").append(newTr)

                                    console.log(res)
                                }
                            })
                        } else {
                            // 失败
                            tr.find('.progress-error').text('上传失败')
                        }
                    });
                });
            })
        }

        function bindCloseBtn() {
            $(".close-btn").click(function () {
                $(".upload-progress").css("display", "none")
            })

        }
    </script>
{% endblock %}