{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}短信登录{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg{
            color: red;
            position: absolute;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title">用户登录</div>
        <form id="smsForm" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                    <label for={{ field.id_for_label }}>{{ field.label }}</label>
                    <div class="row">
                        <div class="col-xs-7">
                            {{ field }}
                            <span class="error-msg"></span>
                        </div>
                        <div class="col-xs-5">
                            <input id="BtnSms" type="button" class="btn btn-default" value="点击获取验证码">
                        </div>
                    </div>`
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <div>
                <div style="float: right">
                    <a href="{% url 'login' %}">用户名密码登录？</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <button id="btnSubmit" type="button" class="btn btn-primary">登录</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
{% block js %}
    <script>
    // 页面加载完成后自动执行
    $(function(){
        bindClickBtnSms();
        bindClickSubmit();
    });
    /*
    点击获取验证码的按钮绑定事件
     */
    function bindClickBtnSms() {
        $('#BtnSms').click(function () {
            // 清空所有的span标签的内容
            $('.error-msg').empty();

            // 获取用户输入手机号
            // 找到输入框是ID，根根据ID获取值，由于Django form表单自动给每个form输入框字段，以字段名前面加id_组合成的
            let mobilePhone = $('#id_mobile_phone').val();
            // 发送ajax请求
            $.ajax({
                url: "{% url 'send_sms' %}",  // 等价于/send/sms/
                type: "GET",
                data: {mobile_phone: mobilePhone, tpl:'login'},
                dataType:"JSON",//将服务端返回的数据反序列化为字典，即当后台返回非json格式时，在success中添加 res_dic= JSON.parse（res）
                success: function (res) {
                    //res_dict = JSON.parse(res)
                    if (res.status){
                        sendSmsRemind();

                    } else{
                        // 错误信息遍历
                        //console.log(res);{status：False, error:{mobile_phone:[错误信息，],code:[错误信息，]}}
                        $.each(res.error, function (key, value) {
                            $("#id_" + key).next().text(value[0]);
                        })
                    }
                }

            })
        })

    }
    // 倒计时
    function sendSmsRemind() {
        console.log("!!!")
        $('#BtnSms').attr("disabled", true);
        let time = 60;
        let remind = setInterval(function () {
            $('#BtnSms').val(time + '秒重新发送');
            time = time - 1;
            if (time < 1){
                clearInterval(remind);
                $('#BtnSms').val('点击获取验证码').attr('disabled', false);
            }

        }, 1000)
    }
    // 点击登录按钮绑定事件
    function bindClickSubmit() {
       $('#btnSubmit').click(function () {
           $('.error-msg').empty();
           // 收集表单每一个字段数据 $('#form').serialize()
           //数据发送到后台
           $.ajax({
               url:"{% url 'login_sms' %}",
               type: "POST",
               data: $('#smsForm').serialize(),  // 获取了所有的字段并且还有csrf token
               dataType: "JSON",
               success: function (res) {
                    if (res.status){
                        console.log(res)
                        location.href = res.data;
                    }else {
                        console.log(res.error)
                          $.each(res.error, function (key, value) {
                            $("#id_" + key).next().text(value[0]);
                        })
                    }
               }
           })

       })
    }
    </script>
{% endblock %}