{% extends 'layout/manage.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/editor.md-master/editor.md-master/css/editormd.preview.min.css' %}">
    <style>
        .panel-body {
            padding: 0;
        }

        .title-list {
            border-right: 1px solid #dddddd;
            min-height: 400px;
        }

        .title-list ul {
            padding-left: 15px;
        }

        .title-list ul a {
            display: block;
            padding: 5px 0;
        }

        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .content {
            border-left: 1px solid #dddddd;
            min-height: 500px;
            margin-left: -1px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <i class="fa fa-book" aria-hidden="true"></i> wiki文档
                </div>
                <div class="function">
                    <a type="button" class="btn btn-success btn-xs"
                       href="{% url 'wiki_add' request.bug_mgt.project.id %}">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        新建
                    </a>
                    {% if wiki_object %}
                        <a href="{% url 'wiki_edit' project_id=request.bug_mgt.project.id wiki_id=wiki_object.id %}"
                           class="btn btn-success btn-xs"
                           type="button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            编辑
                        </a>
                        <a href="{% url 'wiki_delete' project_id=request.bug_mgt.project.id wiki_id=wiki_object.id %}"
                           class="btn btn-success btn-xs" type="button">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            删除
                        </a>
                    {% endif %}

                </div>

            </div>
            <div class="panel-body">
                <div class="col-sm-3 title-list">
                    <ul id="catalog">
                    </ul>
                </div>
                <div class="col-sm-9 content">
                    {% if wiki_object %}
                        <div id="previewMarkdown">
                            <textarea>{{ wiki_object.content }}</textarea>
                        </div>
                    {% else %}
                        <div style="text-align: center; margin-top: 50px">
                            <h4>《{{ request.bug_mgt.project.name }}》Wiki文档库</h4>
                            <a href="{% url 'wiki_add' request.bug_mgt.project.id %}">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建项目
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'plugin/editor.md-master/editor.md-master/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/editor.md-master/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/editor.md-master/lib/marked.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/editor.md-master/lib/prettify.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/editor.md-master/lib/raphael.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/editor.md-master/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/editor.md-master/lib/underscore.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/editor.md-master/editormd.min.js' %}"></script>
    <script>
        const WIKI_DETAIL_URL = "{% url 'wiki' project_id=request.bug_mgt.project.id %}"
        $(function () {
            initCatalog();
            initPreviewEditor();
        });

        function initCatalog() {
            $.ajax({
                url: "{% url 'wiki_catalog' project_id=request.bug_mgt.project.id %}",
                type: "GET",
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        $.each(res.data, function (index, item) {
                            let href = WIKI_DETAIL_URL + "?wiki_id=" + item.id;
                            // item={id: 3, title: "first", parent_id: null},{id: 4, title: "second", parent_id: null}
                            if (!item.parent_id) {
                                // <li id="id_1"><a>子目录</a></li>
                                let li = $("<li>").attr('id', "id_" + item.id).append($("<a>").text(item.title).attr('href', href)).append($("<ul>"));
                                $("#catalog").append(li);
                            } else {
                                let li = $("<li>").attr('id', "id_" + item.id).append($("<a>").text(item.title)).append($("<ul>"));
                                $("#id_" + item.parent_id).children('ul').append(li);
                            }
                        })
                        console.log(res)
                    } else {
                        alert('初始化目录失败')
                    }
                }
            })

        }

        function initPreviewEditor() {
            editormd.markdownToHTML('previewMarkdown', {
                // 过滤掉style,script,iframe，防止在前端嵌入js代码xss攻击
                htmlDecode: "style,script,iframe"
            })
        }
    </script>
{% endblock %}



